# Puerto en el que correrá el backend de NestJS
PORT=3000

# Meta WhatsApp Cloud API
# El ID del número de teléfono (Phone Number ID) lo encuentras en el panel de Meta > WhatsApp > Configuración de la API
WHATSAPP_PHONE_NUMBER_ID=tu_phone_number_id_aqui

# El Token de Acceso (Access Token) temporal o permanente
WHATSAPP_TOKEN=tu_token_de_acceso_aqui
